@import "../../Constants.scss";

.home {
    text-align: center;
    min-height: 100vh;
    width: 100%;

    .home-top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 5rem;
        max-width: 90rem;
        // background-color: #fff;
        margin: 2rem auto;
        padding: 0 1rem;

        img {
            height: 5rem;
            width: 5rem;
            cursor: pointer;
        }
    }

    .home-middle {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: calc(80vh - 5rem);
        margin-top: 5rem;

        h1 {
            font-size: 4rem;
            color: $grey1;
            font-family: $font1;
            font-weight: 500;
            line-height: 4.4rem;
        }

        p {
            margin-top: 2rem;
            width: 30rem;
            text-align: center;
            font-size: 1.1rem;
            font-family: $font2;
            color: $grey2;
            line-height: 1.6rem;
            padding-bottom: 1.58rem;

            // background: linear-gradient(red, blue);
            // -webkit-background-clip: text;
            // background-clip: text;
            // -webkit-text-fill-color: transparent;
        }

        .home-btns {
            display: flex;
            gap: 3rem;
        }
    }
}

@media (width<960px) {
    .home {
        min-height: 80vh;

        .home-middle {

            h1 {
                span {
                    font-size: 3rem;
                }
            }

            h2 {
                font-size: 3.8rem;
            }
        }
    }
}