@import "../../Constants.scss";

.home {
    text-align: center;
    min-height: 100vh;
    width: 100%;

    .home-top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 5rem;
        max-width: 90rem;
        margin: 2rem auto;
        padding: 0 1rem;

        img {
            height: 5rem;
            width: 5rem;
            cursor: pointer;
        }
    }

    .home-middle {
        display: flex;
        flex-direction: column;
        align-items: center;
        // min-height: calc(80vh - 5rem);
        margin-top: 8rem;
        margin-bottom: 6rem;

        h1 {
            font-size: 4rem;
            font-family: $font1;
            font-weight: 500;
            line-height: 4.4rem;
            background-image: linear-gradient(2005deg, rgb(255, 255, 247) 8.55094%, rgb(114, 114, 103) 107.012%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
        }

        p {
            margin-top: 2rem;
            width: 30rem;
            text-align: center;
            font-size: 1.1rem;
            font-family: $font2;
            color: $grey2;
            line-height: 1.6rem;
            padding-bottom: 1.58rem;
        }

        .home-btns {
            display: flex;
            gap: 3rem;
        }
    }
}

@media (width<700px) {
    .home {
        min-height: 76vh;

        .home-middle {
            h1 {
                font-size: 3rem;
                line-height: 3rem;
            }

            p {
                margin-top: 1rem;
            }
        }
    }
}

@media (width<600px) {
    .home {
        .home-top {
            img {
                height: 3rem;
                width: 3rem;
            }
        }
    }

}

@media (width<500px) {
    .home {
        // min-height: 66vh;

        .home-middle {
            h1 {
                font-size: 2rem;
                line-height: 2rem;
            }

            p {
                width: 90%;
                font-size: 1rem;
                line-height: 1rem;
            }
        }
    }
}

@media (width<360px) {
    .home {
        .home-top {
            img {
                height: 2rem;
                width: 2rem;
            }
        }

        .home-middle {
            h1 {
                font-size: 1.85rem;
            }

            p {
                width: 90%;
                font-size: 1rem;
                line-height: 1rem;
            }
        }
    }
}