@import "../../Constants.scss";

.projects {
    margin: 0 auto;

    h1 {
        text-align: center;
        margin-bottom: 4rem;
    }

    .container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 3rem;
    }
}