@import "../../Constants.scss";

.button {
    background-color: $yellow;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0.8rem 1.5rem;
    font-weight: 450;
    font-family: $font1;
    font-size: 1rem;
    color: $grey3;
    border-radius: 2rem;
}

.resume {
    background: rgba(13, 13, 13, 0.4);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid $grey4;
    color: $grey1;
    box-shadow: none;
}

@media (width<600px) {
    .button {
        padding: 0.5rem 1rem;
        font-size: 0.8rem;
        border-radius: 1rem;
    }
}