@import "../../Constants.scss";

.project-card {
    height: 25rem;
    width: 60rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(16, 16, 16);
    background: linear-gradient(135deg, rgba(25, 25, 25, 1) 0%, rgba(16, 16, 16, 1) 100%);

    &:hover .card-overlay {
        height: 100%;
        visibility: visible;
        opacity: 1;
    }

    .img-div {
        height: 100%;
        width: 54%;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;


        .img-overlay {
            width: 86%;
            height: 70%;
            border-radius: 1rem;
            position: relative;
            overflow: hidden;
            transition: 0.2s;

            img {
                width: 100%;
                height: 100%;
                border-radius: 1rem;
                object-fit: cover;
            }
        }
    }

    .card-text {
        height: 100%;
        width: 46%;
        margin-top: 6rem;

        h3 {
            color: $grey1;
            font-family: $font1;
            font-weight: 500;
            font-size: 2.5rem;
        }

        p {
            font-size: 1.1rem;
            font-family: $font2;
            color: $grey2;
            line-height: 1.6rem;
        }

        .tags {
            margin-top: 1.5rem;
            display: flex;
            flex-wrap: wrap;
            gap: 1.5rem;
        }
    }

    .card-overlay {
        position: absolute;
        top: 0;
        right: 0;
        height: 0;
        width: 100%;
        visibility: hidden;
        opacity: 0;
        background-color: rgba(0, 0, 0, 0.5);
        transition: height 0.5s ease, opacity 0.5s ease, visibility 0.5s ease;

        .overlay-content {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            svg {
                fill: $grey1;
                width: 2rem;
                height: 2rem;
                border-right: 1.25rem solid transparent;
                transition: all 0.3s;

                &:hover {
                    fill: $grey2;
                }
            }

            a {
                color: $grey1;
            }
        }
    }
}