@import "../../Constants.scss";

.contact {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4rem;
    gap: 3.75rem;
    min-height: 100vh;

    .text-container {

        h1 {
            font-size: 6.25rem;
            line-height: 5.625rem;
            color: $lightPurple;
            font-family: $font1;
        }

        .text-item-container {
            display: flex;
            flex-direction: column;
            gap: 2.5rem;
            margin-top: 2.5rem;

            .text-item {
                color: $white;

                h2 {
                    font-family: $font1;
                }

                span {
                    font-weight: 400;
                    font-family: $font2;
                }
            }
        }
    }

    .form-container {
        position: relative;
        width: 31.25rem;

        .phone-icon {
            position: absolute;
            margin: auto;
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 1.25rem;

            input,
            textarea {
                padding: 1.25rem;
                background-color: transparent;
                color: $white;
                border: 0.063rem solid $white;
                border-radius: 2rem;
                resize: none;
                outline: none;
                font-family: $font2;
            }
        }
    }
}

@media (width<68.125rem) {
    .contact {
        flex-direction: column;
        padding: 0 1rem;
        gap: 6.25rem;
        margin-bottom: 7.5rem;

        .text-container {
            h1 {
                margin-top: 6.25rem;
                text-align: center;
            }

            .text-item-container {
                flex-direction: row;
                align-items: center;
                justify-content: center;
                margin-top: 5rem;
            }
        }
    }
}