@import "../../Constants.scss";

.contact {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 0;
    gap: 5rem;

    .text-container {

        .text-item-container {
            display: flex;
            flex-direction: row;
            gap: 4rem;
            margin-top: 4rem;

            .text-item {
                color: $grey1;

                h2 {
                    font-size: 2.75rem;
                    font-family: $font1;
                    font-weight: 400;
                    color: $grey1;
                    line-height: 1.3;
                }

                span {
                    font-weight: 400;
                    font-family: $font2;
                    color: $grey2;
                }
            }
        }
    }

    .form-container {
        width: 30rem;

        form {
            display: flex;
            flex-direction: column;
            gap: 1.25rem;

            input,
            textarea {
                padding: 1.25rem;
                color: $grey1;
                border-radius: 2rem;
                resize: none;
                outline: none;
                font-family: $font2;
                background-color: $grey3;
                border: 0.1px solid $grey4;
            }
        }
    }
}