.skills {
    width: 80rem;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin: 0 auto;

    .skills-1 {
        width: 40%;
        display: flex;
        flex-direction: column;
        gap: 40px;

        h1 {
            font-size: 100px;
            line-height: 90px;
            color: #9400FF;
        }

        p {
            color: #fff;
        }
    }

    .skills-2 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 2rem;
        width: 60%;

        img {
            height: 5rem;
            width: 5rem;
        }
    }
}