@import "../../Constants.scss";

.stack {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 4rem 0;

    .stack-1 {
        width: 788px;
        display: flex;
        flex-direction: column;

        p {
            color: $grey1;
            font-family: $font1;
            font-size: 2.75rem;
            text-align: center;
            margin-top: 1rem;
            line-height: 1.3;
        }
    }

    .stack-2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 2rem;
        margin-top: 3rem;
    }
}

@media (width<820px) {
    .stack {

        .stack-1 {
            width: 580px;

            p {
                font-size: 2rem;
            }
        }
    }
}

@media (width<600px) {
    .stack {
        padding: 2rem 0;

        .stack-1 {
            width: 90%;

            p {
                font-size: 1.5rem;
            }
        }
    }
}