@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');
@import "./Constants.scss";

html {
    scroll-behavior: smooth;
    background-color: #0D0D0D;
    overflow-x: hidden;
}

* {
    font-family: 'Dosis', sans-serif;
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
}

.heading_1 {
    font-size: 6.25rem;
    line-height: 5.625rem;
    color: $lightPurple;
    font-family: $font1;
}

.heading_2 {
    font-family: $font1;
    font-size: 5rem;
    line-height: 5.625rem;
    -webkit-text-stroke-width: 0.1rem;
    -webkit-text-stroke-color: $lightPurple;
    color: transparent;

    &::selection {
        background-color: $lightPurple;
        color: $white;
    }
}

@media (width<600px) {
    .heading_1 {
        font-size: 3rem;
        line-height: 2rem;
    }
}